
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  opacity: 0.9;
  color: seashell;
}

.black-bg {
  background-color: #000;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.margin-center {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.font-size-md {
  font-size: 1.25rem;
}

.font-size-lg {
  font-size: 1.5rem;
}

.full-width {
  width: 100%;
}

.margin-top-dot5rem {
  margin-top: .5rem;
}

.margin-bottom-dot5rem {
  margin-bottom: .5rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adjust-top {
  position: relative;
  top: 2.25em;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid seashell;
}

nav {
  width: 90%;
}

.logo {
  margin: .5rem auto .5rem .5rem;
  height: 2.25rem;
}

.nav-links {
  margin: .5rem .5rem .5rem auto;
}

.nav-links li {
  display: inline-block;
  margin-right: .5rem;
}

.nav-links a {
  color: seashell;
}

.dropdown {
  display: none;
}

main {
  width: 95%;
}

#mission {
  background-image: url("../images/img-mission-background.webp");
  background-size: cover;
  background-position: center center;
  height: 700px;
}

#featured-tea {
  width: 90%;
  padding: 2rem 0 2.5rem 0;
}

#featured-tea figure {
  margin: 0 1rem 1rem 1rem;
}

#featured-tea figcaption {
  margin-top: .5rem;
}

figure img {
  height: 200px;
  width: auto;
}

#locations {
  background-image: url("../images/img-locations-background.webp");
  background-position: right center;
  background-size: cover;
  padding: 2rem 0 3rem 0;
}

.location {
  padding: 1rem 0;
  line-height: 2.2;
  margin: 1rem;
  min-width: 300px;
  opacity: 1;
}

footer {
  padding: 1.5rem 1rem 1rem 1rem;
}

footer p {
  font-size: 1rem;
  line-height: 4.5;
}

.copyright {
  float: left;
  font-size: .8rem;
  padding-left: 1rem;
}

@media screen and (max-width: 525px) {
  .desktop-menu {
    display: none;
  }
  .logo-link {
    margin-right: auto;
  }
  .navbar {
    overflow: hidden;
  }
  .dropdown {
    display: block;
  }
  .dropdown .drop-btn {
    border: none;
    color: white;
    background-color: inherit;
  }
  .navbar a:hover, .dropdown:hover .drop-btn {
    background-color: #990000;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 1;
    left: auto;
    right: 0;
    margin-right: 1rem;
  }
  /* dropdown menu links */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /* background color for dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  /* display dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #mission {
    height: 600px;
  }
  .copyright {
    float: none;
    padding-left: 0;
  }
}
